// =====  fonts  ======
// @import "font.css";


// =====  variabls  ======
@primary_color: #FF7D01;
@secondary_color: #222222;
@third_color: #979797;
@primary_fonts: 'Geometria';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: @primary_fonts;
    font-size: 16px;
    color: @secondary_color;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline-block;
}

.main__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 300px;
}

// =====  header  ======

.header__top {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(213, 213, 213, 0.25);

    .main__container {
        min-height: 70px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        justify-content: space-between;
    }

    .header__menu-list+.header__menu-list {
        margin-left: 30px;
    }

    .header__menu-link {
        color: @third_color;
        font-weight: 500;

        &:hover {
            color: #7C7C7C;
        }

        &:active {
            color: @secondary_color;
        }
    }
}

.header__phone-link,
.header__email-link,
.contacts__address-link {
    font-weight: 700;
}

.header__phone-descr,
.header__email-descr {
    display: block;
    font-size: 12px;
    color: @third_color;
    text-decoration: underline;

    &:hover {
        color: @secondary_color;
    }
}

// =====  header__section  ======

.header__section {
    overflow: hidden;
    padding-top: 50px;
    min-height: 700px;
    display: flex;
    background-color: #F7F8FA;
}

.header__content {
    flex: 0 0 100%;
    z-index: 1;
}

.header__body {
    width: 50%;
    min-height: 600px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__bg {
    background: url(../img/header__bg.webp) left center no-repeat;
    flex: 0 0 50%;
    transform: translate(-108%);
}

.header__content-price {
    font-size: 52px;
    font-weight: bold;
    line-height: 50px;
}

.header__content-title {
    font-size: 52px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 15px;
}

.header__content-descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
}

.header__content-btn {
    font-weight: 500;
    color: #ffffff;
    background-color: @primary_color;
    line-height: 64px;
    width: 240px;
    text-align: center;
    margin-top: 40px;

    &:hover {
        background-color: #F17600;
    }

    &:active {
        background-color: #FF840F;
    }
}

.header__burger {
    display: none;
}

// =====  product  ======

.product {
    background-color: #FDFDFD;
    padding: 60px 0;
}

.product__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__header-link {
    margin-left: 30px;
    font-weight: 500;
    color: #979797;

    &:hover {
        color: #7C7C7C;
    }

    &:active {
        color: @secondary_color;
    }
}

.product__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.product__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 530px;
    max-width: 370px;
    padding: 25px;
    box-shadow: 0px 5px 30px rgba(213, 213, 213, 0.25);

    &:hover {
        box-shadow: 0px 5px 30px rgba(213, 213, 213, 0.5);
    }
}

.product__item-img {
    min-height: 200px;
    object-fit: none;
    margin: 0 auto;
}

.product__item-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    span {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background-color: @primary_color;
        padding: 5px 5px 3px 5px;
    }
}

.product__param {
    font-size: 14px;
    line-height: 38px;
}

.product__param-title {
    color: #979797;
}

.product__item-btn {
    display: block;
    margin-top: auto;
    height: 67px;
    width: 100%;
    border: 2px solid @primary_color;
    text-align: center;
    color: @primary_color;
    font-weight: 500;
    line-height: 64px;

    &:hover {
        background-color: @primary_color;
        color: #ffffff;
    }
}


// =====  clients  ======

.clients {
    background-color: #fff;
    padding: 60px 0;
}

.owl-nav {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    transform: translateY(-100px);
}

.owl-prev,
.owl-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 0.25);

    &:hover {
        box-shadow: 0px 5px 30px rgba(162, 162, 162, 0.25);
    }

    span {
        color: #979797;

        &:hover {
            color: @secondary_color;
        }
    }
}

.owl-prev {
    transform: translateX(-15px);
}

.owl-next {
    transform: translateX(15px);
}


// =====  reviews  ======

.reviews {

    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled,
    .owl-nav {
        display: flex;
        justify-content: space-between;
        padding: 3px;
        transform: translateY(-190px);
    }
}

.slide__reviews {
    position: relative;
}

.reviews__video-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    left: 45%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(162, 162, 162, 0.25);

    &:hover {
        box-shadow: 0px 5px 30px rgba(162, 162, 162, 0.5);
    }

    span {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent @primary_color;
    }
}

.reviews__content {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
}

.reviews__content-item {
    padding: 30px;
    background-color: #F7F8FA;
    min-height: 190px;

    h3 {
        font-size: 18px;
    }

    p {
        color: #979797;
        line-height: 26px;
    }
}



// =====  offer  ======

.offer {
    height: 700px;
    background: url(../img/bg_5.webp) right center no-repeat;
    background-color: #F7F8FA;
    background-position-x: 90%;
    background-position-y: 100%;
}

.offer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 535px;
    min-height: 700px;
}

.offer__content-title {
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;

    span {
        font-weight: bold;
    }
}

.offer__content-descr {
    font-size: 20px;
    line-height: 32px;
}

.offer__conten-btn {
    margin-top: 20px;
    font-weight: 500;
    width: 240px;
    height: 67px;
    color: #ffffff;
    background-color: @primary_color;
    line-height: 64px;
    text-align: center;

    &:hover {
        background-color: #F17600;
    }

    &:active {
        background-color: #FF840F;
    }
}


// =====  works  ======
.works {
    padding: 60px 0;
    min-height: 600px;
}

.works__content {
    margin-top: 40px;
    margin-bottom: 40px;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.works__item-title {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
}

.works__item-price {
    color: #ffffff;
    background-color: @primary_color;
    padding: 5px 5px 4px 5px;
}

.works__btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 240px;
    height: 67px;
    color: @primary_color;
    border: 2px solid @primary_color;
    font-weight: 500;
    line-height: 64px;

    &:hover {
        background-color: @primary_color;
        color: #ffffff;
    }
}


// =====  contacts  ======


.contacts {
    padding: 60px 0;
}

.contacts__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin-top: 40px;
}

.contacts__address {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__address-btn {
    display: block;
    text-align: center;
    width: 240px;
    height: 67px;
    color: @primary_color;
    border: 2px solid @primary_color;
    font-weight: 500;
    line-height: 64px;

    &:hover {
        background-color: @primary_color;
        color: #ffffff;
    }
}


// =====  footer  ======

.footer {
    background-color: #F7F8FA;
    height: 80px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #979797;
    line-height: 64px;

}

.footer__menu {
    display: flex;
}

.footer__menu-link,
.footer__privacy {
    &:hover {
        color: @secondary_color;
    }
}

.footer__menu-link+.footer__menu-link {
    margin-left: 30px;
}

.footer__privacy {
    text-decoration: underline;
}


// =====  popap  ======
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 770px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mfp-bg {
    background: rgba(155, 155, 155, 0.5);
}

.mfp-close-btn-in .mfp-close {
    color: @primary_color;
}

// .popap__form,
// .popap__slide {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background: rgba(155, 155, 155, 0.5);
//     // filter: blur(20px);
//     // -webkit-backdrop-filter: blur(20px);
//     // -moz-backdrop-filter: blur(20px);
//     top: 0;
//     left: 0;
//     z-index: 99999;
//     opacity: 0;
//     visibility: hidden;

//     &:target {
//         opacity: 1;
//         visibility: visible;
//     }
// }

// .popap__slide-body,
// .popap__form-body {
//     min-height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 30px 10px;
// }

.popap__slide-content,
.popap__form-content {
    background-color: #ffffff;
    color: #000000;
    max-width: 770px;
    padding: 60px 30px 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popap__slide-content {
    .owl-nav {
        transform: translateY(-125px);
    }
}

.popap__form-content {
    max-width: 590px;
    min-height: 530px;

    .popap__form-input {
        width: 90%;
        margin: 40px 60px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0.5px solid #979797;
    }
}

.callback_checkbox {
    margin-bottom: 40px;

    a {
        text-decoration: underline;
    }
}

button:disabled {
    opacity: 0.5;
}


.popap__slide-titl,
.popap__form-title {
    font-size: 24px;
    margin: 0 130px;
    font-weight: normal;
    text-align: center;

    span {
        font-weight: bold;
    }
}

.popap__form-title {
    font-weight: bold;
}

.popap__slide-title,
.popap__slide-price {
    font-size: 14px;
}

.popap__slide-price {
    font-weight: bold;
}

.popap__slide-btn,
.popap__form-btn {
    display: block;
    margin: 0 auto;
    height: 67px;
    width: 270px;
    border: 2px solid @primary_color;
    text-align: center;
    color: @primary_color;
    font-weight: 500;
    line-height: 64px;

    &:hover {
        background-color: @primary_color;
        color: #ffffff;
    }
}

.popap__form-btn {
    margin-bottom: 50px;
}

.popap__slide-callback {
    margin-top: 45px;
    font-size: 12px;
}

.popap__slide-phone {
    font-weight: bold;
}


.popap__slide-close,
.popap__form-close {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    color: @primary_color;
    text-decoration: none;
}




// =====  media  ======

@media screen and (max-width: 1200px) {
    .main__container {
        margin: 0 auto;
        max-width: 970px;
        min-width: 300px;
    }

    .header__bg {
        flex: 0 0 53%;
    }

    .offer {
        background-size: 74%;
        background-position-x: 170%;
    }

    .product__catalog {
        grid-template-columns: 1fr 1fr;
    }

    .product__item {
        max-width: 100%;
    }

    .contacts__content {
        grid-gap: 70px;
    }
}

@media screen and (max-width: 960px) {

    .main__container {
        margin: 0 auto;
        max-width: 655px;
        min-width: 300px;
    }

    body.lock {
        overflow: hidden;
    }

    .header__burger {
        background-color: #fff;
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 10;
        right: 19%;
        top: 10px;
        cursor: pointer;
        box-shadow: 0px 5px 30px rgba(162, 162, 162, 0.25);
    }

    .header__burger {
        span {
            position: absolute;
            background-color: @primary_color;
            left: 17px;
            width: 34%;
            height: 2px;
            top: 24px;
        }
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: @primary_color;
        position: absolute;
        width: 34%;
        height: 2px;
        left: 17px;
        transition: all .3s ease 0s;
    }

    .header__burger::before {
        top: 17px;
    }

    .header__burger::after {
        bottom: 17px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 24px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 24px;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 40px;
        position: fixed;
        top: -150%;
        right: 0;
        width: 60%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;
        margin-top: 0;
        z-index: 5;
        transition: all .3s ease 0s;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-bottom: 70px;
        }

        .header__menu-list+.header__menu-list {
            margin-left: 0;
        }

    }

    .header__phone.active {
        margin-bottom: 30px;
    }

    .header__menu-list {
        margin-top: 40px;

        &:first-child {
            margin-top: 175px;
        }
    }

    .header__menu.active {
        top: 0;
    }

    .header__content-price,
    .header__content-title {
        font-size: 42px;
    }

    .header__content-descr {
        font-size: 16px;
    }

    .header__section {
        padding: 0;
        min-height: 605px;
    }

    .header__bg {
        transform: translate(-100%);
    }

    .reviews__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .offer {
        background-position-x: 330%;
        background-position-y: 93%;
        background-size: 89%;
    }

    .works__content {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }

    .contacts {
        .main__container {
            max-width: 960px;
        }
    }

    .contacts__title {
        margin-left: 16%;
    }

    .contacts__content {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-row-gap: 25px;
    }

    .contacts__address {
        max-width: 655px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 35px;
    }

    .contacts__address-btn {
        grid-column-start: 2;
    }

    .contacts__address-link {
        grid-column: 1;
        grid-row: 1;
    }

}

@media screen and (max-width: 640px) {
    .main__container {
        margin: 0 auto;
        max-width: 485px;
        min-width: 300px;
    }

    .product {
        .main__container {
            max-width: 340px;
        }
    }

    .product__catalog {
        grid-template-columns: 1fr;
    }

    .product__item {
        max-width: 100%;
    }

    .header__top .main__container {
        grid-template-columns: 2fr 4fr;
    }

    .header__bg {
        flex: 0 0 59%;
        transform: translate(-65%);
    }

    .header__body {
        width: 100%;
    }

    .reviews__content {
        grid-template-columns: 1fr;
    }

    .offer__content-title {
        font-size: 38px;
    }

    .offer__content-descr {
        font-size: 18px;
    }

    .works__content {
        grid-template-columns: 1fr;

        img {
            width: 100%;
        }
    }

    .works__item {
        position: relative;
    }

    .works__item-title {
        display: inline-block;
    }

    .works__item-price {
        position: absolute;
        right: 0;
        bottom: 3%;
    }

    .contacts__address {
        max-width: 450px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .header__email-link {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .header__phone-link {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .contacts__address-btn {
        transform: translate(-50%);
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .header__menu {
        width: 50%;
    }



    .popap__slide-content,
    .popap__form-content {
        width: 100%;
    }

    .popap__slide-titl,
    .popap__form-title {
        margin: 0;
    }

    .popap__slide-btn,
    .popap__form-btn {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .main__container {
        margin: 0 auto;
        max-width: 315px;
        min-width: 300px;
    }

    .header__menu {
        width: 70%;
    }

    .header__body {
        padding: 0;
    }

    .header__content-price,
    .header__content-title {
        font-size: 40px;
    }

    .header__bg {
        flex: 1 0 148%;
        transform: translate(-65%, 60%);
    }

    .product__header {
        flex-wrap: wrap;
    }

    .product__header-title {
        margin-bottom: 40px;
    }

    .product__header-link {
        &:first-child {
            margin-left: 0;
        }
    }

    .product__item {
        padding: 20px;
    }

    .product__item-title {
        display: block;

        h3 {
            display: block;
            line-height: 38px;
        }
    }

    .product__item-btn {
        width: 100%;
    }

    .offer__content-title {
        font-size: 28px;
    }

    .offer__content-descr {
        font-size: 16px;
    }

    .works__item-title {
        display: block;
    }

    .works__item-price {
        position: static;
    }

    .contacts__address {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        max-width: 315px;
    }

    .header__phone-link {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .header__email-link {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .contacts__address-btn {
        grid-column-start: 1;
        grid-row-start: 4;
        transform: translate(10%);
        width: 270px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu-link+.footer__menu-link {
        margin-left: 0;
    }

    .footer__privacy {
        max-width: 180px;
        text-align: center;

        .footer__privacy-link {
            line-height: 32px;
        }
    }
}

@media screen and (max-width: 330px) {
    .product__item-title {
        display: block;

        h3 {
            display: block;
            line-height: 38px;
        }
    }

    .owl-next,
    .owl-prev {
        transform: translateX(0);
    }

    .popap__slide-btn,
    .popap__form-btn {
        font-size: 14px;
    }
}